@media (min-width:640px) {

.navigation {
        font-size: 15px;
        position: absolute;
        right: 10px;
        box-sizing: border-box;
}

.headers {
    display: inline-block;
}

a {
    color: black;
}

.container {
    box-sizing: border-box;
    margin-top: 10rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-end: 1rem;
    float: left;
}

p:hover {
    text-decoration: underline;
}

svg {
    height: 1.5rem;
    margin-top: .55rem;
    margin-inline-end: 1.1rem;
    border: solid;
    border-color: white;
    border-width: 4px;
}


.dots:hover {
    background-color: rgba(223, 226, 223, 0.856);
    border-radius: 50%;
    border: solid;
    border-width: 4px;
    border-color:  rgba(223, 226, 223, 0.856);
}

.snin {
    background-color: #1a73e8;
    height: 2.2rem;
    width: 5.5rem;
    border-style: none;
    border-radius: .25rem;
    color: white;
    float: right;
    margin-top: .45rem;
}

.snin:hover {
    background-color: #4289e6;
    cursor: pointer;
}


#logo {
    display: block;
    width: 272px;
    height: 92 px;
    margin: 0 auto 2rem auto;
}

.search-bar {
    display: block;
    width: 38rem;
    height: 2.75rem;
    border-radius: 2.5rem;
    border-color: rgba(223, 226, 223, 0.856);
    border-style: solid;
    outline: none;
    margin: 0 auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 50px;
}

.search-bar:hover {
    border-style: solid;
    box-shadow: 0px 0px 5px rgba(200, 202, 200, 0.856)
}

.inputcontainer {
    position: relative;
    padding: 0;
    margin: 0;
}

#glass {
    height: 18px;
    width: 18px;
    position: absolute;
    bottom: 15px;
    left: 360px;
} 

#mic {
    height: 22px;
    width: 18px;
    position: absolute;
    bottom: 15px;
    left: 965px;
} 


.links {
    box-sizing: border-box;
    display: block;
    width: 22rem;
    margin: 2rem auto 0 auto;
}

.tiles {
    display:inline-block;
    height: 112px;
    width: 112px;
}

.tiles:hover {
    background-color: rgba(200, 202, 200, 0.856);
    border-radius: 3px;
}

.gthb,
.top,
.fcc {
    display: block;
    height: 48px;
    width: 48px;
    background-color: rgba(241, 241, 241, 0.856);
    border-radius: 50%;
    margin: 1.5rem auto 0 auto;
}

#first,
#second,
#third {
    display: block;
    height: 24px;
    width: 24px;
    margin: 0 auto 0 auto;
    padding-top: 11px;
}

.tiletitle {
    font-family: inherit;
    font-size: 15px;
    text-align: center;
    margin-top: 2rem;
}

#br {
}

a:link {
    text-decoration: none;
}



}







